ac-comphist.dat
auto-save-list
backups
eshell
places
projectile-bookmarks.eld
.smex-items
url
tramp
.cask/
clang-complete
request/
saved-places
private.el
projectile.cache
.mc-lists.el
*.elc
/kill-ring-saved.el
