*.elc
/.mc-lists.el
/auto-save-list/
/backups/
/bookmarks
/elpa/
/eshell/
/flycheck_*
/helm-doc.org
/jabber-avatar-cache/
/kill-ring-saved.el
/lisp/local.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/saved-places
/semanticdb/
/site-lisp/
/smex-items
/srecode-map.el
/tramp
/undo-tree/
/ido.last
/ac-comphist.dat
/network-security.data
/company-statistics-cache.el
/abbrev_defs
/custom.el
/cquery/
/ycmd/
/.emacs-places
