*.elc
/.last-package-update-day
/.mc-lists.el
/.mc-lists.el
/auto-save-list/
/backups/
/bookmarks
/elpa/
/eshell/
/helm-doc.org
/jabber-avatar-cache/
/kill-ring-saved.el
/local.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/saved-places
/semanticdb/
/site-lisp/
/smex-items
/srecode-map.el
/tramp
/undo-tree/
/ido.last
/ac-comphist.dat
